.form_control {
    width: 100%;
    max-width: 400px;
}

.form_control.error input,
.form_control.error textarea {
    border: 2px solid red;
}

.form_control.error span {
    color: red;
    display: block;
}