.users_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-bottom: 75px;
    width: 100%;
    height: 850px;
    overflow-y: scroll;
}

.profile_follow_event_btn {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);

    margin: 0 auto;
    display: block;

    width: 100%;
    max-width: 150px;
    font-size: 17px;
}