.new_message {
    margin-top: 30px;
    width: 100%;
    display: flex;

    align-items: flex-start;
    justify-content: space-between;
}

.new_message textarea {
    margin-right: 30px;
    padding: 15px 20px;
    height: 75px;
    width: 100%;
    max-width: 390px;

    border: 2px inset #666666;
    background-color: #3f3f3f;
    border-radius: 35px;
    border-bottom-right-radius: 0;

    font-weight: normal;
    color: white;
    resize: none;
}

.new_message button {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: normal;
    font-size: 17px;

    border-style: none;
    border-radius: 50%;
    transition: background-color .5s linear, font-weight .3s ease, color .3s ease;
    background: #3f3f3f;
}

.new_message button:hover {
    font-weight: bold;
    background-color: white;
    color: black;
}