.nav {
    grid-area: nav;

    padding: 20px 10px 20px 30px;
    background-color: #222222;
}

nav {
    margin-bottom: 50px;
}

.item a {
    color: white;
    font-weight: 300;

    transition: font-weight .5s ease, color .3s linear;
}

.item a:hover {
    color: red;
    font-weight: bold;
}

.item a.active {
    color: red;
    font-weight: bold;
}

.item__users {
    margin-top: 25px;
}

.item__disabled {
    display: none;
}
