.users_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-bottom: 75px;
    width: 100%;
}

.profile {
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    width: 100%;

    background-color: #666666;
    border-radius: 15px;
    transition: background-color .3s ease;
}

.profile:not(:last-child) {
    margin-bottom: 25px;
}

.profile:hover {
    background-color: #3f3f3f;
}

.profile_section_left, .profile_section_right {
    display: flex;
    flex-direction: column;
}

.profile_section_left {
    margin-right: 10px;
}

.profile_section_left img {
    height: 75px;
    width: 75px;

    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

.profile_section_right {
    width: 100%;
    margin-left: 35px;

    justify-content: space-between;
    flex-direction: row;
}

.profile_follow_event_btn {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);

    margin: 0 auto;
    display: block;

    width: 100%;
    max-width: 150px;
    font-size: 17px;
}

.profile_info {
    display: flex;
    flex-direction: column;
}

.profile_info span {
    font-size: 17px;
    color: #acacac;
    font-weight: bold;
}

.profile_status {
    width: 100%;
    max-width: 500px;

    margin-top: 20px;
    color: #ffff;
    font-size: 15px;
}

.profile_info_live {
    color: #cccccc;
    font-weight: 400;
}

.selectedPage {
    font-weight: bold;
}