.messages {
    padding: 0 30px;

    height: 100%;
    width: 100%;
    border-left: 2px solid red;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.messages .message {
    padding: 10px 20px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
}

.messages .message:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;

    border-style: solid;
    border-width: 0 33px 25px 0;
    border-color: transparent #ccc transparent transparent;
}

.messages .message:nth-child(even) {
    align-self: flex-end;
}

.messages .message:nth-child(even):after {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;

    border-style: solid;
    border-width: 0 0 40px 35px;
    border-color: transparent transparent transparent #ccc;
}

.messages .message:not(:last-child) {
    margin-bottom: 20px;
}