.dialogs_list {
    height: 100%;
    width: 100%;
    max-width: 350px;
}

.dialog {
    padding: 10px 15px;
    display: block;

    width: 100%;
    border-bottom: 1px solid #ccc;

    transition: background-color .5s linear, color .5s linear;
    color: white;
    cursor: pointer;
}

.dialog.active {
    background: #3f3f3f;
    color: red;
}

.dialog:hover {
    background: #3f3f3f;
}