.friends_box h4 {
    margin-bottom: 25px;
}

.friends_list {
    display: flex;
    width: 100%;
    max-width: 300px;
}

.friends_list li:not(:last-child) {
    margin-right: 25px;
}

.friends_list li {
    width: 100%;
    max-width: 100px;
}

.friends_list li img.ava {
    display: inline-block;
    height: 85px;
    width: 100%;

    border: 1px solid red;
    border-radius: 50%;
    object-fit: cover;

    transition: border-color .5s linear, border-radius .5s ease, transform .5s linear;
}

.friends_list li img.ava:hover {
    border-color: transparent;
    border-radius: 15%;

    transform: scale(1.1);
}

.title_profile {
    display: inline-block;
    width: 100%;

    color: #ccc;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    transition: color .5s linear;
}

.friends_list li:hover .title_profile {
    color: red;
}