h1 {
    margin-top: 0;
    color: #cccccc;
    width: 100%;
    text-align: center;
}

.profile_image {
    width: 100%;
    height: 375px;
    margin-bottom: 30px;
    object-fit: cover;

    border-radius: 75px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.description_content {
    margin-top: 35px;
}

.description_content__form button {
    margin-bottom: 10px;
}

.description_content__form input[type="checkbox"] {
    margin-top: 0;
    margin-left: 10px;
    cursor: pointer;
}

.description_content_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 575px;
}

.description_content_item input, .description_content_item textarea {
    margin-top: 10px;
}

.description_content_item__row {
    flex-direction: row;
}

.description_content_item:not(:last-child) {
    margin-bottom: 15px;
}

.description_content_item span:first-child, .description_content__form label {
    font-weight: bold;
    font-size: 17px;
    color: #858585;
}

.description_content_item__column {
    flex-direction: column;
}

.description_content_item p, .description_content_item span:last-child {
    margin: 0;
    padding-left: 10px;

    color: white;
}

.socials_list {
    display: flex;
    width: 100%;
    max-width: 125px;
    justify-content: flex-start;

    margin-right: auto;
    padding-left: 10px;
}

.socials_list li:not(:last-child) {
    margin-right: 10px;
}

.socials_list li a svg {
    transition: color .3s linear;
}

.socials_list li a svg:hover {
    color: greenyellow;
}

.socials_list_form {
    padding-left: 15px;
    display: flex;
    width: 100%;
    max-width: 525px;
    flex-direction: column;
}

.socials_list_form li {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.socials_list_form li label {
    font-weight: bold;
    color: greenyellow;
    line-height: 1rem;
}

.socials_list_form li input {
    margin-left: 10px;
}