.header {
    grid-area: header;

    padding: 20px 10px;
    background-color: #000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 100%;
    max-width: 65px;
    height: auto;
}

.login_block a {
    color: white;
}

.login_info {
    display: flex;
    align-items: center;

    color: white;
    font-weight: bold;
}

.login_info button {
    margin-top: 0;
    margin-left: 10px;
}