.item {
    margin-bottom: 35px;

    display: flex;
    width: 100%;
    max-width: 350px;

    color: #ccc;
}

.content {
    padding-left: 20px;
}

.item img {
    width: 100%;
    max-width: 110px;
    height: 110px;

    border-radius: 50%;
    object-fit: cover;
}

.content span {
    display: block;
    margin-bottom: 15px;
}

.system_like {
    display: flex;
}

.system_like button {
    margin-right: 10px;
}

.system_like span {
    color: white;
}