.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_row {
    display: flex;
}

.form_row.form_row__captcha {
    margin: 5px;
    flex-direction: column;
}

.form_row__captcha input {
    margin-top: 5px;
}

.form_captcha {
    width: 100%;
    max-width: 170px;
}

.form_row.form_row_checkbox {
    margin: 10px 5px;
}

.form_row.form_row_checkbox div {
    width: initial;
}

.form_row.form_row_checkbox label {
    margin-left: 5px;
}