* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

button, label {
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
}

.app-wrapper {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 75px 1fr;
  grid-auto-columns: 30% 65%;
  grid-template-areas:
          'header header'
          'nav content';
  grid-gap: 15px;
}

.error_text {
  color: red;
}

.app-wrapper-content {
  position: relative;
  grid-area: content;

  padding: 20px 25px;
  background-color: #666666;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: greenyellow;
  font-weight: bold;
  font-size: 21px;
}

.btn {
  margin-top: 20px;
  padding: 10px 5px;

  transition: background-color .3s ease, color .3s linear, opacity .5s linear;
  background-color: #222222;
  border-style: none;
  border-radius: 10px;

  color: #fff;
  font-weight: bold;
  opacity: 1;
}

.btn[disabled] {
  opacity: .3;
}

.btn:hover {
  background-color: #858585;
  color: #222222;
}

.btn.priority {
  padding-left: 10px;
  padding-right: 10px;

  background: greenyellow;
}

.btn.priority:hover {
  background: white;
  color: black;
}

.btn.priority--small {
  margin-top: 0;
  max-width: 100px;
}

/*Forms styles*/
.form_summary_error {
  margin-top: 10px;
  margin-bottom: 5px;

  border: 1px solid red;
  padding: 5px;
  color: orange;
  width: fit-content;
}